
  .signin-card {
    background-color: #f1f1f1;
    border-radius: 20px;
    width: 400px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  /* .google-btn {
    background-color: #f8e6d6;
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   */
  .google-logo {
    height: 20px;
    margin-right: 10px;
  }
  
  input.form-control {
    padding: 10px;
    background-color: #f8e6d6;
    border: 2px solid transparent;
  }
  
  input.form-control:focus {
    border: 2px solid #00b377;
    outline: none;
  }
  
  .btn-success {
    background-color: #00b377;
    border: none;
    font-weight: bold;
    font-size: 1rem;
  }
  
  a {
    font-size: 0.9rem;
    text-decoration: none; 
  }
  
  a:hover {
    text-decoration: none; 
  }
  
  .highlighted {
    text-decoration: underline; 
  }
  
  .highlighted:hover {
    text-decoration: underline; 
  }

.sign-in-btn {
    width: 100px !important;
}

.avatar {
    cursor: pointer;
    border: 2px solid #fff;
  }

  .square
{
	position: relative;
	width: 530px;
	height: 530px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.square i
{
	position: absolute;
	inset: 0;
	border: 2px solid #9c9c9c;
	transition: 0.5s;
  z-index: -1;
}
.square i:nth-child(1)
{
	border-radius: 36% 62% 63% 37% / 41% 44% 56% 59%;
	animation: animate 6s linear infinite;
}
.square i:nth-child(2)
{
	border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
	animation: animate 4s linear infinite;
}
.square i:nth-child(3)
{
	border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
	animation: animate2 10s linear infinite;
}
.square:hover i
{
	border: 6px solid var(--clr);
	filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
@keyframes animate2
{
	0%
	{
		transform: rotate(360deg);
	}
	100%
	{
		transform: rotate(0deg);
	}
}

.login-container
{
	display: flex;
	justify-content: center;
  margin-top: 100px;
	min-height: 100vh;
}