.createquiz-container {
    background-color: #19444a; 
    border-radius: .75rem;
    padding: 20px;
    width: 600px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.img-container img {
    width: 150px; 
}

.text-container h3 {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
}

.text-container span {
    margin-left: 6rem;
}

.text-container p {
    color: white;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}

.create-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
    position: relative;
    border: none;
    transition: all 0.2s ease;
}

.create-btn:active {
    transform: scale(0.96);
}

.create-btn:hover {
    background-color: #00b377; 
}

.create-btn.animate::before,
.create-btn.animate::after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}

.create-btn.animate::before {
    top: -70%;
    background-image: radial-gradient(circle, #00b377 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #00b377 20%, transparent 30%),
      radial-gradient(circle, #00b377 20%, transparent 20%),
      radial-gradient(circle, #00b377 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #00b377 15%, transparent 20%),
      radial-gradient(circle, #00b377 20%, transparent 20%),
      radial-gradient(circle, #00b377 20%, transparent 20%),
      radial-gradient(circle, #00b377 20%, transparent 20%),
      radial-gradient(circle, #00b377 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
    animation: greentopBubbles ease-in-out 0.6s forwards infinite;
}

@keyframes greentopBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.create-btn.animate::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #00b377 20%, transparent 20%),
      radial-gradient(circle, #00b377 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #00b377 15%, transparent 20%),
      radial-gradient(circle, #00b377 20%, transparent 20%),
      radial-gradient(circle, #00b377 20%, transparent 20%),
      radial-gradient(circle, #00b377 20%, transparent 20%),
      radial-gradient(circle, #00b377 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    animation: greenbottomBubbles ease-in-out 0.6s forwards infinite;
}

@keyframes greenbottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.quiz-list {
    margin-top: 20px;
    justify-content: space-between;
    gap: 30px;
}

.quiz-item {
    text-align: center;
    width: 150px !important;
}

.quiz-item p {
    text-align: center;
    width: 150px !important;
}

.custom-gap .quiz-item {
    margin-right: 5px; 
}

.custom-gap .quiz-item:last-child {
    margin-right: 0; 
}

.game-modes-container {
    max-width: 1280px !important;
}