.createquiz-container {
    background-color: #19444a;
    border-radius: .75rem;
    padding: 20px;
    width: 600px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.img-container img {
    width: 150px;
}

.text-container h3 {
    color: white !important;
    font-size: 24px;
    margin-bottom: 10px;
}

.text-container span {
    margin-left: 6rem;
}

.text-container p {
    color: white;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}

.quiz-list {
    margin-top: 20px;
    justify-content: space-between;
    gap: 30px !important;
}

.quiz-item {
    text-align: center;
    width: 150px !important;
}

.quiz-item p {
    text-align: center;
    width: 150px !important;
}

.custom-gap .quiz-item {
    margin-right: 5px;
}

.custom-gap .quiz-item:last-child {
    margin-right: 0;
}

.game-modes-container {
    max-width: 1280px !important;

}
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: white;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

  .card-container{
    position: relative;
    width: 350px;
    height: 350px;
    /* background: #333; */
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.card-container:hover{
    width: 600px;
    transition-delay: 0.5s;
}
.card-container .circle{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-container .circle::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 8px solid var(--clr);
    background: #19444a;
    transition: 0.5s, background 0.5s;
    transition-delay: 0.75s,1s;
    filter: drop-shadow(0 0 10px var(--clr)) drop-shadow(0 0 60px var(--clr));
}
.card-container:hover .circle::before{
    width: 100%;
    transition-delay: 0.5s;
    height: 100%;
    border-radius: 20px;
    background: var(--clr);
}
.card-container .circle .logo{
    position: relative;
    width: 200px;
    height: 200px;
    transition: 0.5s;
    transition-delay: 0.5s;
}
.card-container:hover .circle .logo{
    transform: scale(0);
    transition-delay: 0s;
}
.card-container .product_img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0) rotate(315deg);
    height: 300px;
    transition: 0.5s ease-in-out;
}
.card-container:hover .product_img{
    transition-delay: 0.75s;
    transform: translate(-50%,-50%) scale(1) rotate(15deg);
    top: 45%;
    left: 75%;
    height: 150px;
}
.card-container .content{
    position:absolute;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
}
.card-container:hover .content{
    transition-delay: 0.75s;
    opacity: 1;
    visibility: visible;
    left: 0;
}
.card-container .content h3{
    color: white;
    font-size: 24px;

}
.card-container .content p{
    color: #fff;
    margin: 0;
}
.card-container .content a{
    position: relative;
    color: #111;
    background: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    margin-top: 10px;
}